body {
    background: #183260 url("https://steamusercontent-a.akamaihd.net/ugc/933804400183708747/9B6121BEC51002C0F27902FFB1A1C7FAC5809FC5/") no-repeat scroll 250px 225px;

}

#Card {

    margin-top: 255px;
}

.card {
    background: url("https://thumbs.dreamstime.com/b/vieja-textura-de-papel-de-la-plantilla-30403016.jpg");

}

#Btn {
    margin-left: 40%;
}