body {
    background: url("https://thumbs.gfycat.com/CrazyEthicalJohndory-size_restricted.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}